:root {
  --main-color: #252422;
  --secondary-color: #ed6d3c;
  --darker-color: #403d39;
  --light-color: #fffcf2;
  --light-orange-color: #e88301;
  --gray-color: #bebcb4;
  --fb-color: #1877f2;
  --tw-color: #1da1f2;
  --in-color: #e1306c;
}
* {
  box-sizing: border-box;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.header__logo {
  width: 60px;
  height: 60px;
}
.nav__list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: relative;
  margin-left: 110px;
}
.nav__list .nav__list__link {
  color: var(--gray-color);
  position: relative;
}

.nav__list .nav__list__link--active {
  color: var(--secondary-color);
}
.nav__list__link::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  display: none;
  opacity: 2;
}

.nav__list__link:hover::after {
  display: block;
}

.nav__icons {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.nav__icons .icon {
  width: 20px;
}
.nav__icons .icon:hover {
  color: var(--secondary-color);
}
.nav__icons__cart--link {
  display: flex;
  position: relative;
}
.nav__icons__cart__items {
  position: relative;
  top: 5px;
  color: var(--gray-color);
  opacity: 0.7;
}
.nav__list .nav__list__li {
  position: relative;
}
.nav__list .nav__list__li__shop__dropdown__parrent {
  position: absolute;
  z-index: 24;
  text-align: center;
  width: 150px;
  left: -180px;
}
.nav__list__dropdown {
  position: relative;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 20px;
  margin-top: 10px;
  z-index: -1;
  border-radius: 5px;
  opacity: 0;
  display: none;
}
.nav__list__dropdown__link {
  color: var(--light-color);
  border-bottom: 0.1px solid var(--gray-color);
  padding: 20px;
  padding-left: 0;
  display: flex;
  width: 100%;
  text-align: left;
}

.nav__list__dropdown__link:hover {
  color: var(--secondary-color);
  border-bottom: 0.1px solid var(--secondary-color);
}
.nav__list__li__shop__dropdown__parrent:hover .nav__list__dropdown {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.nav__list__li__shop__dropdown__parrent:hover .nav__list__link::after {
  display: block;
}
/* mobile Header */
.header__hamburger {
  width: 20px;
  height: 20px;
}
.header__hamburger :hover {
  cursor: pointer;
}
.header__hamburger--show {
  display: none;
}

.header__hamburger input {
  position: absolute;
  visibility: hidden;
}

.header__hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.header__hamburger span:first-child {
  transform-origin: 0% 0%;
}

.header__hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.header__hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(-45deg) translate(2px, -1px);
}

.header__hamburger input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.header__hamburger input:checked ~ span:nth-last-child(3) {
  transform: rotate(45deg) translate(3px, -3px);
}

.mobile__menu {
  position: absolute;
  display: flex;
  top: 0;
  left: -70vw;
  width: 70vw;
  height: 100vh;
  background-color: var(--main-color);
  padding: 30px 0;
  padding-top: 100px;
  transition: transform 1s ease-in-out;
}
.mobile__menu__logo {
  width: 100px;
  margin-bottom: 10px;
}

.toggle__mobile--menu {
  transform: translateX(70vw);
}

.mobile__nav {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 10;
  text-align: center;
  justify-content: space-between;
}

.mobile__nav__search {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.mobile__nav__search input {
  height: 30px;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--light-color);
  background-color: var(--main-color);
  color: var(--light-color);
  outline: none;
}
.mobile__nav__search input:focus {
  border: 1px solid var(--secondary-color);
}
.mobile__nav__search img {
  position: absolute;
  width: 20px;
  right: 10px;
  top: 8px;
}
.mobile__nav__list__li {
  padding: 10px;
  padding: 30px 0;
  border-bottom: 1px solid var(--light-color);
}
.mobile__nav__list__li a {
  color: var(--light-color);
}

.mobile__nav__list__li:hover a {
  color: var(--secondary-color);
}
.mobile__nav__list__li:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.mobile__menu--show {
  display: none;
}

.mobile__nav__icons__list {
  display: flex;
  z-index: 42;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid var(--gray-color);
}

.mobile__nav__icon {
  width: 30px;
  height: 30px;
  color: white;
  transition: color 0.5s ease-in-out;
}
.mobile__nav__icon--fb:hover {
  color: var(--fb-color);
}
.mobile__nav__icon--in:hover {
  color: var(--in-color);
}
.mobile__nav__icon--tw:hover {
  color: var(--tw-color);
}

/* mobile Header End */

/* header End */

.opener {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background-image: url("../img/main-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.opener--darker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.45;
}
.opener__title {
  position: relative;
  font-size: 40px;
  top: 80%;
  font-family: "Merriweather";
  font-weight: bold;
  color: var(--gray-color);
  letter-spacing: 5px;
  z-index: 3;
}

/* utility */
.title--key {
  color: var(--secondary-color);
}

.hidden {
  visibility: hidden;
}

/* utility End */

.product__section {
  padding: 100px 100px;
  text-align: center;
  font-family: "Brygada 1918 sans-serif";
}
.product__section__title {
  font-size: 50px;
  margin-bottom: 100px;
}

.product__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-color);
  width: 300px;
  text-align: left;
  position: relative;
  padding-bottom: 80px;
  flex-basis: 27%;
  z-index: 1;
  margin-bottom: 40px;
}

.product__item__img {
  display: block;
  width: 250px;
  height: 210px;
  padding: 30px;
  margin: auto;
}
.img_1 {
  background-image: url("../img/shoes_model-1/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_1 {
  cursor: pointer;
  background-image: url("../img/shoes_model-1/img-3.PNG");
}
.img_2 {
  background-image: url("../img/shoes_model-2/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_2 {
  cursor: pointer;
  background-image: url("../img/shoes_model-2/img-2.PNG");
}
.img_3 {
  background-image: url("../img/img_model-3/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_3 {
  cursor: pointer;
  background-image: url("../img/img_model-3/img-2.PNG");
}
.img_4 {
  background-image: url("../img/img_model-4/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_4 {
  cursor: pointer;
  background-image: url("../img/img_model-4/img-2.PNG");
  background-size: 120px;
}
.img_5 {
  background-image: url("../img/img_model-5/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_5 {
  cursor: pointer;
  background-image: url("../img/img_model-5/img-2.PNG");
}
.img_6 {
  background-image: url("../img/img_model-6/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_6 {
  cursor: pointer;
  background-image: url("../img/img_model-6/img-3.PNG");
}

.product__price__background {
  background-color: var(--secondary-color);
  padding: 15px;
  text-align: center;
  width: 100px;
  align-self: flex-end;
}

.product__price {
  color: var(--light-color);
  font-size: 18px;
}
.product__description {
  font-weight: bold;
  margin: 15px 0;
  padding: 0 10px;
  height: 30px;
}
.product__evaluation {
  padding: 0 10px;
}
.product__evaluation__star {
  width: 25px;
}

.product__view__background {
  position: absolute;
  bottom: 0;
  background-color: var(--main-color);
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
.product__view {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
.view__more__btn {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 15px 20px;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  margin-top: 50px;
}
.view__more__btn--overlay {
  display: flex;
  width: 30%;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.view__more__btn--arrow {
  height: 20px;
  transition: all 0.5s ease-in-out;
  position: absolute;
}
.view__more__btn__text {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 18px;
  cursor: pointer;
  margin: auto;
}

.view__more__btn:hover .view__more__btn--overlay {
  width: 300px;
}
.view__more__btn:hover .view__more__btn--arrow {
  width: 100px;
}

/* slidshow section start */

.slideshow {
  display: inline-block;
  width: 100vw;
  height: 90vh;
  position: relative;
  text-align: center;
}
.animation__image {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/Slider/slider-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: slideshow;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.animation__image__ovarlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darker-color);
  opacity: 0.7;
  z-index: -1;
}
.animation__images__title {
  font-size: 50px;
  color: var(--light-color);
  margin-top: 100px;
}

.info__card {
  position: absolute;
  bottom: 50px;
  max-width: 400px;
  height: 250px;
  background-color: var(--gray-color);

  padding: 10px 20px;
  text-align: left;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info__card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 40px;
  background-color: var(--main-color);
  z-index: 42;
  margin: 0 auto;
  cursor: pointer;
}

.info__card_btn__text {
  color: var(--secondary-color);
  cursor: pointer;
}

/* slider */

.slider {
  margin: 80px 100px;
  text-align: center;
  font-family: "Merriweather sans-serif";
}
.slider__title {
  font-size: 50px;
}

.slider__container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.slider__item {
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}
.slider__item__img {
  width: 150px;
  height: 150px;
  background-image: url("../img/Slider/accesories/hand-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  margin: 0 auto;
}

.slider__item__img__sec {
  background-image: url("../img/Slider/accesories/bracelet-1.PNG");
  background-size: 110px;
}
.slider__item__img__third {
  background-image: url("../img/Slider/accesories/mom-1.PNG");
}
.slider__item__btn {
  width: 100px;
  height: 30px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.slider__item__btn__text {
  color: var(--secondary-color);
  cursor: pointer;
}
.slider__icon {
  width: 40px;
  cursor: pointer;
}
/* slider End */

/* subscribe and Footer Section */
.last__section {
  margin-top: 100px;
}
.form__container {
  width: 100vw;
  height: 60vh;
  padding: 100px 50px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.form__img {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.form__ovarlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  opacity: 0.6;
}
.form__title {
  color: var(--light-color);
  margin-bottom: 50px;
}
.form__title h3 {
  font-size: 20px;
  margin: 5px 0;
}
.form__title h2 {
  font-size: 25px;
  margin: 5px 0;
}

.subscribe__form {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
  margin: auto;
}
.subscribe__form__input {
  background: transparent;
  outline: none;
  border: 1px solid var(--light-color);
  padding: 10px;
  max-width: 400px;
  flex-basis: 60%;
  color: var(--light-color);
}
.subscribe__form__input::placeholder {
  color: var(--light-color);
}
.subscribe__form--subscribe {
  flex-basis: 30%;
  background-color: var(--secondary-color);
  border: none;
  color: var(--light-color);
  cursor: pointer;
}

/* subscribe and Footer Section END */

/* footer */

.footer {
  height: 60vh;
  background-color: var(--main-color);
}

/* footer End */
@keyframes slideshow {
  0% {
  }
  25% {
    background-image: url("../img/Slider/slider-2.jpg");
  }
  50% {
  }
  75% {
    background-image: url("../img/Slider/slider-3.jpg");
  }
  100% {
  }
}
