:root {
  --main-color: #252422;
  --secondary-color: #ed6d3c;
  --darker-color: #403d39;
  --light-color: #fffcf2;
  --light-orange-color: #e88301;
  --gray-color: #bebcb4;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.header__logo {
  width: 60px;
  height: 60px;
}
.nav__list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: relative;
  margin-left: 110px;
}
.nav__list .nav__list__link {
  color: var(--gray-color);
  position: relative;
}

.nav__list .nav__list__link--active {
  color: var(--secondary-color);
}
.nav__list__link::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  display: none;
  opacity: 2;
}

.nav__list__link:hover::after {
  display: block;
}

.nav__icons {
  width: 50px;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.nav__icons .icon {
  width: 20px;
}
.nav__icons .icon:hover {
  color: var(--secondary-color);
}
.nav__icons__cart--link {
  display: flex;
  position: relative;
}
.nav__icons__cart__items {
  position: absolute;
  left: 22px;
  top: 5px;
  color: var(--gray-color);
  opacity: 0.7;
}
.nav__list .nav__list__li {
  position: relative;
}
.nav__list .nav__list__li__shop__dropdown__parrent {
  position: absolute;
  z-index: 24;
  width: 150px;
  text-align: center;
  left: -180px;
}
.nav__list__dropdown {
  position: relative;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  width: 130px;
  font-size: 13px;
  justify-content: space-around;
  padding: 20px;
  left: -20px;
  height: 130px;
  margin-top: 10px;
  visibility: hidden;
  z-index: -1;
}
.nav__list__dropdown__link {
  color: var(--light-color);
  border-bottom: 0.1px solid var(--gray-color);
  padding: 10px 0;
  display: flex;
  width: 100%;
}

.nav__list__dropdown__link:hover {
  color: var(--secondary-color);
}
.nav__list__li__shop__dropdown__parrent:hover .nav__list__dropdown {
  visibility: visible;
  opacity: 1;
}

.nav__list__li__shop__dropdown__parrent:hover .nav__list__link::after {
  display: block;
}
/* header End */
