:root {
  --main-color: #252422;
  --secondary-color: #ed6d3c;
  --darker-color: #403d39;
  --light-color: #fffcf2;
  --light-orange-color: #e88301;
  --gray-color: #bebcb4;
  --fb-color: #1877f2;
  --tw-color: #1da1f2;
  --in-color: #e1306c;
}
* {
  box-sizing: border-box;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
}

.header__logo {
  width: 40px;
}
.nav__list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: relative;
  margin-left: 110px;
}
.nav__list .nav__list__link {
  color: var(--gray-color);
  position: relative;
}
.mob__list__link--active {
  color: var(--secondary-color) !important;
}
.nav__list .nav__list__link--active {
  color: var(--secondary-color);
}
.nav__list__link::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  display: none;
  opacity: 2;
}

.nav__list__link:hover::after {
  display: block;
}

.nav__icons {
  display: flex;
}

.nav__icons .icon {
  width: 20px;
  height: 20px;
}
.nav__icons .icon:hover {
  color: var(--secondary-color);
}
.nav__icons__cart__items {
  display: flex;
  position: relative;
}
.nav__icons__cart__items {
  position: relative;
  color: var(--gray-color);
  opacity: 0.7;
}
.nav__list .nav__list__li {
  position: relative;
}
.nav__icons__search {
  position: relative;
  right: 10px;
}
.nav__icons__cart__items--counter {
  position: relative;
  top: 4px;
}
.nav__icons__cart {
  cursor: pointer;
}
.nav__list .nav__list__li__shop__dropdown__parrent {
  position: absolute;
  z-index: 24;
  text-align: center;
  width: 150px;
  left: -180px;
}
.nav__list__dropdown {
  position: relative;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 20px;
  margin-top: 10px;
  z-index: -1;
  border-radius: 5px;
  opacity: 0;
  display: none;
}
.nav__list__dropdown__link {
  color: var(--light-color);
  border-bottom: 0.1px solid var(--gray-color);
  padding: 20px;
  padding-left: 0;
  display: flex;
  width: 100%;
  text-align: left;
}

.nav__list__dropdown__link:hover {
  color: var(--secondary-color);
  border-bottom: 0.1px solid var(--secondary-color);
}
.nav__list__li__shop__dropdown__parrent:hover .nav__list__dropdown {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.nav__list__li__shop__dropdown__parrent:hover .nav__list__link::after {
  display: block;
}
/* mobile Header */
.header__hamburger {
  width: 20px;
  height: 20px;
}
.header__hamburger :hover {
  cursor: pointer;
}
.header__hamburger--show {
  display: none;
}

.header__hamburger input {
  position: absolute;
  visibility: hidden;
}

.header__hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.header__hamburger span:first-child {
  transform-origin: 0% 0%;
}

.header__hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.header__hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(-45deg) translate(2px, -1px);
}

.header__hamburger input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.header__hamburger input:checked ~ span:nth-last-child(3) {
  transform: rotate(45deg) translate(3px, -3px);
}

.mobile__menu {
  position: absolute;
  display: flex;
  top: 0;
  left: -70vw;
  width: 70vw;
  height: 100vh;
  background-color: var(--main-color);
  padding: 30px 0;
  padding-top: 100px;
  transition: transform 1s ease-in-out;
}
.mobile__menu__logo {
  width: 100px;
  margin-bottom: 10px;
}

.toggle__mobile--menu {
  transform: translateX(70vw);
}

.mobile__nav {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 10;
  text-align: center;
  justify-content: space-between;
}
.mob__nav__overlay {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  background-color: var(--main-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
.show {
  visibility: visible;
  opacity: 0.9;
}

.mobile__nav__search {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.mobile__nav__search input {
  height: 30px;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--light-color);
  background-color: var(--main-color);
  color: var(--light-color);
  outline: none;
}
.mobile__nav__search input:focus {
  border: 1px solid var(--secondary-color);
}
.mobile__nav__search img {
  position: absolute;
  width: 20px;
  right: 10px;
  top: 8px;
}
.mobile__nav__list__li {
  padding: 10px;
  padding: 30px 0;
  border-bottom: 1px solid var(--light-color);
}
.mobile__nav__list__li a {
  color: var(--light-color);
}

.mobile__nav__list__li:hover a {
  color: var(--secondary-color);
}
.mobile__nav__list__li:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.mobile__menu--show {
  display: none;
}

.mobile__nav__icons__list {
  display: flex;
  z-index: 42;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid var(--gray-color);
}

.mobile__nav__icon {
  width: 30px;
  height: 30px;
  color: white;
  transition: color 0.5s ease-in-out;
}
.nav__icon--fb:hover {
  color: var(--fb-color);
}
.nav__icon--in:hover {
  color: var(--in-color);
}
.nav__icon--tw:hover {
  color: var(--tw-color);
}

/* mobile Header End */

/* header End */

.opener {
  position: relative;
  left: 0;
  top: 0;

  height: 100vh;

  background-image: url("../img/main-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.opener--darker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.45;
}
.opener--overlay {
  opacity: 0.7;
}
.opener__title {
  position: relative;
  font-size: 40px;
  top: 80%;
  font-family: "Merriweather";
  font-weight: bold;
  color: var(--gray-color);
  letter-spacing: 5px;
  z-index: 3;
}

/* utility */
.title--key {
  color: var(--secondary-color);
}

.hidden {
  visibility: hidden;
}

/* utility End */

/* Product Cart */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 40;
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.cart-overlay--show {
  visibility: visible;
  opacity: 0.6;
}
.cart {
  position: absolute;
  background-color: var(--main-color);
  right: 0;
  top: 0;
  z-index: 50;
  height: 100vh;
  width: 100%;
  color: #fff;
  max-width: 350px;
  transition: transform 1.5s ease-in-out;
  transform: translateX(350px);
}
.cart--show {
  transform: translateX(0);
}
.cart__close {
  position: absolute;
  right: 50px;
  top: 50px;
  color: var(--secondary-color);
  width: 25px;
  cursor: pointer;
}
.cart__title {
  font-size: 25px;
  margin-top: 50px;
  padding: 30px;
}
.cart__discount {
  padding: 10px;
  background-color: var(--secondary-color);
  width: 100%;
  padding-left: 30px;
}
.cart__discount__text {
  font-size: 20px;
}
.cart__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}
.cart__container__message {
  margin-top: 100px;
  font-size: 20px;
  color: var(--secondary-color);
  padding: 30px;
}

/* Product Cart End*/

.product__section {
  padding: 100px 100px;
  text-align: center;
  font-family: "Brygada 1918 sans-serif";
}
.product__section__title {
  font-size: 50px;
  margin-bottom: 100px;
}

.product__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-color);
  width: 300px;
  text-align: left;
  position: relative;
  padding-bottom: 80px;
  flex-basis: 27%;
  z-index: 1;
  margin-bottom: 40px;
}

.product__item__img {
  display: block;
  width: 250px;
  height: 210px;
  padding: 30px;
  margin: auto;
}
.img_1 {
  background-image: url("../img/shoes_model-1/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_1 {
  cursor: pointer;
  background-image: url("../img/shoes_model-1/img-3.PNG");
}
.img_2 {
  background-image: url("../img/shoes_model-2/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_2 {
  cursor: pointer;
  background-image: url("../img/shoes_model-2/img-2.PNG");
}
.img_3 {
  background-image: url("../img/img_model-3/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_3 {
  cursor: pointer;
  background-image: url("../img/img_model-3/img-2.PNG");
}
.img_4 {
  background-image: url("../img/img_model-4/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_4 {
  cursor: pointer;
  background-image: url("../img/img_model-4/img-2.PNG");
  background-size: 120px;
}
.img_5 {
  background-image: url("../img/img_model-5/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_5 {
  cursor: pointer;
  background-image: url("../img/img_model-5/img-2.PNG");
}
.img_6 {
  background-image: url("../img/img_model-6/img-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .img_6 {
  cursor: pointer;
  background-image: url("../img/img_model-6/img-3.PNG");
}

.product__price__background {
  position: relative;
  background-color: var(--secondary-color);
  padding: 15px;
  text-align: center;
  width: 100px;
  align-self: flex-end;
}

.product__price {
  color: var(--light-color);
  font-size: 18px;
}
.product__description {
  font-weight: bold;
  margin: 15px 0;
  padding: 0 10px;
  height: 30px;
}
.product__evaluation {
  padding: 0 10px;
}
.product__evaluation__star {
  width: 25px;
}

.product__view__background {
  position: absolute;
  bottom: 0;
  background-color: var(--main-color);
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  color: var(--light-color);
}
.product__view__background:hover {
  color: var(--secondary-color);
}
.product__view {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
.view__more__btn {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 15px 20px;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  margin-top: 50px;
}
.view__more__btn--overlay {
  display: flex;
  width: 30%;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.view__more__btn--arrow {
  height: 20px;
  transition: all 0.5s ease-in-out;
  position: absolute;
}
.view__more__btn__text {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 18px;
  cursor: pointer;
  margin: auto;
}

.view__more__btn:hover .view__more__btn--overlay {
  width: 300px;
}
.view__more__btn:hover .view__more__btn--arrow {
  width: 100px;
}

/* slidshow section start */

.slideshow {
  display: inline-block;
  width: 100%;
  height: 90vh;
  position: relative;
  text-align: center;
}
.animation__image {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/Slider/slider-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: slideshow;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.animation__image__ovarlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darker-color);
  opacity: 0.7;
  z-index: -1;
}
.animation__images__title {
  font-size: 50px;
  color: var(--light-color);
  margin-top: 100px;
}

.info__card {
  position: absolute;
  bottom: 50px;
  max-width: 400px;
  height: 250px;
  background-color: var(--gray-color);

  padding: 10px 20px;
  text-align: left;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info__card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 40px;
  background-color: var(--main-color);
  z-index: 42;
  margin: 0 auto;
  cursor: pointer;
}

.info__card_btn__text {
  color: var(--secondary-color);
  cursor: pointer;
}

/* slider */

.slider {
  margin: 80px 0;
  text-align: center;
  font-family: "Merriweather sans-serif";
}
.slider__title {
  font-size: 50px;
}

.slider__container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.slider__item {
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin: auto;
}
.slider__item__img {
  width: 150px;
  height: 150px;
  background-image: url("../img/Slider/accesories/hand-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  margin: 0 auto;
}

.slider__item__img__sec {
  background-image: url("../img/Slider/accesories/bracelet-1.PNG");
  background-size: 110px;
}
.slider__item__img__third {
  background-image: url("../img/Slider/accesories/mom-1.PNG");
}
.slider__item__btn {
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  padding: 20px;
}
.slider__item__btn:hover {
  color: var(--secondary-color);
}

.slider__item__btn__text {
  cursor: pointer;
}
.slider__item__btn__text:hover {
}
.slider__icon {
  width: 40px;
  cursor: pointer;
}
/* slider End */

/* subscribe and Footer Section */
.last__section {
  margin-top: 100px;
  position: relative;
}
.form__container {
  height: 60vh;
  padding: 100px 50px;
  text-align: center;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__img {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.form__ovarlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  opacity: 0.6;
}
.form__title {
  color: var(--light-color);
  margin-bottom: 50px;
}
.form__title h3 {
  font-size: 20px;
  margin: 5px 0;
}
.form__title h2 {
  font-size: 25px;
  margin: 5px 0;
}

.subscribe__form {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
}
.subscribe__form__input {
  background: transparent;
  outline: none;
  border: 1px solid var(--light-color);
  padding: 10px;
  max-width: 400px;
  flex-basis: 60%;
  color: var(--light-color);
}
.subscribe__form__input::placeholder {
  color: var(--light-color);
}
.subscribe__form--subscribe {
  flex-basis: 30%;
  background-color: var(--secondary-color);
  border: none;
  color: var(--light-color);
  cursor: pointer;
  margin-left: 10px;
}

/* subscribe and Footer Section END */

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  background-color: var(--main-color);
  padding: 50px 100px;
  font-family: "Brygada 1018";
  color: var(--light-color);
}
.schedule {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.schedule__days {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.schedule__days li {
  margin-bottom: 20px;
}
.copyright {
  margin-top: 20px;
}

.help {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.help__assistance a li {
  color: var(--light-color);
  margin-bottom: 20px;
}
.help a li:hover {
  color: var(--secondary-color);
}

.help__assistance {
  margin-top: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: space-between;
}
.contact__icons a {
  color: var(--light-color);
}
.contact__icons {
  display: flex;
  justify-content: space-between;
}

.contact__icons svg {
  width: 20px;
  height: 20px;
}

/* footer mob */
.mobile_show_social {
  visibility: hidden;
}

.mobile_show_social img {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

/* footer mob  End*/

/* footer End */
@keyframes slideshow {
  0% {
  }
  25% {
    background-image: url("../img/Slider/slider-2.jpg");
  }
  50% {
  }
  75% {
    background-image: url("../img/Slider/slider-3.jpg");
  }
  100% {
  }
}

/* Accessories Start */
.opener__second {
  background-image: url("../img/main-2.jpg");
  background-position: center/center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.operner__title__underlay {
  display: flex;
  width: 400px;
  height: 200px;
  background-color: var(--main-color);
  border-radius: 20px;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-color);
}
.operner__title__underlay h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.operner__title__underlay h1 {
  font-size: 30px;
  font-weight: bold;
}

/* acc product */
.acc_1 {
  background-image: url("../img/accessories/acc-1/hat.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .acc_1 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-1/hat-2.PNG");
}
.acc_2 {
  background-image: url("../img/accessories/acc-2/glasses-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .acc_2 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-2/glasses-2.PNG");
}
.acc_3 {
  background-image: url("../img/accessories/acc-3/glasses-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .acc_3 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-3/glasses-2.PNG");
}
.acc_4 {
  background-image: url("../img/accessories/acc-4/bag-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .acc_4 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-4/bag-2.PNG");
}
.acc_5 {
  background-image: url("../img/accessories/acc-5/bag-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .acc_5 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-5/bag-2.PNG");
}
.acc_6 {
  background-image: url("../img/accessories/acc-7/poter-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .acc_6 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-7/poter-2.PNG");
}

.main__product {
  display: inline-block;

  height: 90vh;
  display: flex;
  font-family: "brygada 1918 sans-serif";
}
.main__product .acc__main {
  flex: 1;
}

.acc__product__img {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  background-image: url("../img/accessories/acc-big-slide-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-image 0.4s ease-in-out;
  background-position: top;
  margin: 100px auto;
  z-index: -2;
}

.acc__product__view {
  height: 100%;
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.acc__product__below__desc {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 300px;
}
.acc__stars {
  margin-bottom: 30px;
}
.acc__product__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.7;
  z-index: -1;
}
.acc__product__description {
  background-color: var(--main-color);
  height: 100%;
  padding: 50px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.acc__main__title {
  font-size: 40px;
  color: var(--secondary-color);
  text-align: center;
}
.mob__acc__main__title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  z-index: 1;
  visibility: hidden;
}
.acc__price__background {
  background-color: var(--secondary-color);
  padding: 15px 0;
  width: 100%;
  max-width: 200px;
  margin: auto;
}

.acc__product__price {
  color: var(--light-color);
  font-size: 18px;
}
.acc__btn {
  display: flex;
  color: var(--light-color);
  width: 90%;
  max-width: 400px;
  margin: auto;
  background-color: var(--main-color);
  padding: 20px;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.acc__btn:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.acc__desc {
  color: var(--light-color);
}
.acc__desc .acc__desc__li {
  font-size: 20px;
  margin-bottom: 50px;
}

.slider__item__img {
  margin-top: 10px;
  transition: background-image 0.3s ease-in-out;
}

.slider__acc__img__1 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-8/hat-1.PNG");
}
.acc__item__1:hover .slider__acc__img__1 {
  background-image: url("../img/accessories/acc-8/hat-2.PNG");
}
.slider__acc__img__2 {
  background-image: url("../img/accessories/acc-9/glasses-1.PNG");
}
.acc__item__2:hover .slider__acc__img__2 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-9/glasses-2.PNG");
}
.slider__acc__img__3 {
  background-image: url("../img/accessories/acc-12/hat-1.PNG");
}
.acc__item__3:hover .slider__acc__img__3 {
  cursor: pointer;
  background-image: url("../img/accessories/acc-12/hat-2.PNG");
}

.acc__main__product__img--1 {
  background-image: url("../img/accessories/main/watch-1.PNG");
  background-size: 180px;
}
.acc__container {
  flex-wrap: wrap;
}
.acc__item {
  margin: 10px auto;
}

.acc__slider--1 {
  background-image: url("../img/accessories/mask-1/mask-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.acc__item__second__slider--1:hover .acc__slider--1 {
  cursor: pointer;
  background-image: url("../img/accessories/mask-1/mask-2.PNG");
}
.acc__slider--2 {
  background-image: url("../img/accessories/mask-2/mask-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.acc__item__second__slider--2:hover .acc__slider--2 {
  cursor: pointer;
  background-image: url("../img/accessories/mask-2/mask-2.PNG");
}
.acc__slider--3 {
  background-image: url("../img/accessories/mask-3/mask-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.acc__item__second__slider--3:hover .acc__slider--3 {
  cursor: pointer;
  background-image: url("../img/accessories/mask-3/mask-2.PNG");
}
.slider__item__masks {
  height: 200px;
}
/* acc product End */

/* Accessories END */

/* SALE START */
.opener__sale {
  background-image: url("../img/sale/janfillem-iwpbZ_173WM-unsplash.jpg");
  background-position: center/center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale__opener__title {
  margin-top: 150px;
}
.sale__opener__btn {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  z-index: 1;
  padding: 10px;
  margin: 10px auto;
  color: var(--light-color);
  top: 30px;
}
.sale__opener__btn:hover {
  cursor: pointer;
}
.sale__opener__title {
  position: relative;
  font-size: 25px;
  z-index: 2;
  font-weight: bold;
  color: var(--light-color);
}
.sale__opener____btn {
  position: relative;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: var(--secondary-color);

  z-index: 10;
  margin: auto;
  margin-top: 50px;
}
.opener__sale__discount {
  position: absolute;
  left: 0;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: var(--light-color);
  background-color: var(--secondary-color);
  z-index: 2;
}

.sale_1 {
  background-image: url("../img/sale/sale-1/glasses-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .sale_1 {
  cursor: pointer;
  background-image: url("../img/sale/sale-1/glasses-2.PNG");
}
.sale_2 {
  background-image: url("../img/sale/sale-2/glasses-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .sale_2 {
  cursor: pointer;
  background-image: url("../img/sale/sale-2/glasses-2.PNG");
}
.sale_3 {
  background-image: url("../img/sale/sale-3/poter-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .sale_3 {
  cursor: pointer;
  background-image: url("../img/sale/sale-3/poter-2.PNG");
}
.sale_4 {
  background-image: url("../img/sale/sale-4/shoes-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .sale_4 {
  cursor: pointer;
  background-image: url("../img/sale/sale-4/shoes-2.PNG");
  background-size: 100px;
}
.sale_5 {
  background-image: url("../img/sale/sale-5/shoes-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  transition: background-image 0.4s ease-in-out;
}
.product:hover .sale_5 {
  cursor: pointer;
  background-image: url("../img/sale/sale-5/shoes-2.PNG");
}
.sale_6 {
  background-image: url("../img/sale/sale-6/shoes-1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;

  transition: background-image 0.4s ease-in-out;
}
.product:hover .sale_6 {
  cursor: pointer;
  background-image: url("../img/sale/sale-6/shoes-2.PNG");
  background-size: 100px;
}
.sale__main__product__img--1 {
  background-image: url("../img/sale/sale_slider-1/img-1.PNG");
}
.product__old__price {
  position: relative;
  top: -10px;
  color: var(--gray-color);
}
.product__old__price__overlay {
  position: absolute;
  top: 0px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}
.product__main__old__price {
  position: absolute;
  font-size: 30px;

  left: 50%;
  transform: translateX(-50%);
}
.product__main__old__price__overlay {
  position: absolute;

  width: 100px;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}

/* SALE END*/

/* About Page */
.about__img {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 140vh;
  background-image: url("../img/About.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;

  background-position: 0 30px;
}
.about__container {
  position: absolute;
  z-index: 30;
  top: -500px;
  left: -100px;
  color: #fff;
  background-color: var(--darker-color);

  max-width: 500px;
  border-radius: 10px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);

  padding: 20px;
}
.about__container p {
  font-size: 25px;
}
/* End About Page */
.last__section__about {
  margin: 0;
}

/* product section Start */
/* product section End */

.wrapper {
  height: 100vh;
}
.product-item {
  display: flex;
  height: 100%;
}
.product-item__images {
  display: flex;
  flex: 2;
  padding-top: 150px;
  justify-content: center;
}
.product-item__images__main {
  width: 380px;
  max-height: 300px;
}
.product__main__img__evaluations {
  display: flex;
  flex-direction: column;
}

.product-item__images__examples {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: absolute;
  left: 10px;
}
.acc {
  cursor: pointer;
}
.product-item__img {
  width: 80px;
  border: 0.3px solid var(--main-color);
  margin-top: 10px;
  padding: 10px;
}

.product-item__images__examples img:hover {
  cursor: pointer;
}
.product-info {
  flex: 1;
  background-color: rgb(29, 28, 28);
  padding: 20px;
  color: var(--light-color);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-info__title {
  color: var(--secondary-color);
  font-size: 25px;
}
.fa-caret-down {
  color: #000;
}
.product-info__size {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--light-color);
  color: var(--main-color);
  margin: 15px 0;
  outline: none;

  width: 100%;
}
/* .product-info__size__parent {
  height: 100px;
  overflow: scroll;
} */
.quantity__title {
  margin-bottom: 15px;
}
.product-info__price {
  color: var(--light-color);
  display: flex;

  font-size: 20px;
}
.product-info label {
  display: flex;
  font-size: 20px;
}

.product-info__quantity {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--light-color);
  max-width: 150px;
  color: #000;
  font-size: 20px;
}
.btn {
  padding: 15px;
  width: 100%;
  outline: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.product-info__add--btn {
  background-color: gray;
  color: #fff;
}
.product-info__buy--btn {
  background-color: var(--darker-color);
  color: var(--secondary-color);
  border: none;
}
.product-info__cart__icon {
  width: 20px;
  position: absolute;
  left: 10px;
}
.product__item__description {
  color: var(--main-color);
  font-weight: bold;
  max-width: 350px;
}
.product__item__description li {
  margin-top: 10px;
}
.current__image {
  border: 2px solid var(--secondary-color);
}
