@media only screen and (max-width: 920px) {
  .nav {
    display: none;
  }
  .header__hamburger--show {
    display: inline-block;
  }
  .mobile__menu--show {
    display: inline-block;
  }
  .opener__title {
    font-size: 35px;
  }
  .product {
    flex-basis: 45%;
  }
}

@media only screen and (max-width: 769px) {
  .mobile__menu {
    font-size: 13px;
  }
  .mobile__menu__logo {
    width: 60px;
  }
  .mobile__nav__icon {
    width: 20px;
    height: 20px;
  }

  .mobile__nav__search img {
    position: absolute;
    width: 15px;
    right: 10px;
    top: 13px;
  }
  .opener__title {
    font-size: 25px;
  }
  .product {
    flex-basis: 80%;
  }
  .animation__images__title {
    font-size: 35px;
  }
  .product__section__title {
    font-size: 35px;
  }
  .product__container {
    justify-content: center;
  }
  .footer {
    justify-content: space-between;
  }
  .contact {
    display: none;
  }
  .mobile_show_social {
    visibility: visible;
  }
}
@media only screen and (max-width: 565px) {
  .opener__title {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .header__container {
    padding: 10px 50px;
  }
  .product__section {
    padding: 100px 50px;
  }
  .product {
    flex-basis: 100%;
  }
  .info__card {
    font-size: 15px;
  }
  .animation__images__title {
    font-size: 25px;
  }

  .info__card {
    max-width: 250px;
    height: 180px;
    padding: 10px 10px;
  }
  .product__section__title {
    font-size: 25px;
  }
  .footer {
    padding: 50px;
    font-size: 12px;
  }
  .contact__icons svg {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 350px) {
  .product__section__title {
    font-size: 23px;
  }
}
