@media only screen and (max-width: 920px) {
  .nav {
    display: none;
  }
  .nav__icons__search {
    display: none;
  }
  .header__hamburger--show {
    display: inline-block;
  }
  .mobile__menu--show {
    display: inline-block;
  }
  .opener__title {
    font-size: 35px;
  }
  .product {
    flex-basis: 45%;
  }
  .acc__desc {
    margin-bottom: 100px;
  }
  .acc__desc .acc__desc__li {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .product-item__images {
    flex: 1;
    margin-left: 10px;
  }
  .product-item__images__main {
    width: 200px;
    max-height: 150px;
  }
  .product-item__images__examples img {
    width: 60px;
  }
  .product-info__title {
    font-size: 20px;
  }
  .product__item__description {
    max-width: 200px;
  }
  .about__info {
    justify-content: center;
  }
  .about__info__img__2 {
    order: 1;
  }
  .about__info__text__2 {
    order: 2;
  }
}

@media only screen and (max-width: 769px) {
  .sale__opener__title {
    font-size: 20px;
  }
  .acc__product__description {
    display: none;
  }
  .mob__acc__main__title {
    visibility: visible;
  }
  .acc__btn {
    max-width: 300px;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 50px;
  }
  .acc__product__img {
    width: 200px;
    height: 200px;
  }
  .mobile__menu {
    font-size: 13px;
  }
  .mobile__menu__logo {
    width: 60px;
  }
  .mobile__nav__icon {
    width: 20px;
    height: 20px;
  }

  .mobile__nav__search img {
    position: absolute;
    width: 15px;
    right: 10px;
    top: 13px;
  }
  .opener__title {
    font-size: 25px;
  }
  .product {
    flex-basis: 80%;
  }
  .animation__images__title {
    font-size: 35px;
  }
  .product__section__title {
    font-size: 35px;
  }
  .product__container {
    justify-content: center;
  }
  .footer {
    justify-content: space-between;
  }
  .contact {
    display: none;
  }
  .mobile_show_social {
    visibility: visible;
  }
  .slider__title {
    font-size: 40px;
  }
  .opener__second {
    background-position: -300px center;
  }
  .product-item__images {
    flex: 1;
    margin-left: 100px;
  }
  .product-item__images__main {
    width: 150px;
    height: 120px;
  }
  .product-item__images__examples img {
    width: 60px;
  }
  .product-info__title {
    font-size: 18px;
  }
  .about__title {
    font-size: 30px;
  }
  .img-zoom-result {
    display: none;
  }
  .product-view {
    display: none;
  }
}
@media only screen and (max-width: 565px) {
  .opener__title {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .header__container {
    padding: 10px 50px;
  }
  .product__section {
    padding: 100px 50px;
  }
  .product {
    flex-basis: 100%;
  }
  .info__card {
    font-size: 15px;
  }
  .animation__images__title {
    font-size: 25px;
  }

  .info__card {
    max-width: 250px;
    height: 180px;
    padding: 10px 10px;
  }
  .product__section__title {
    font-size: 25px;
  }
  .footer {
    padding: 50px;
    font-size: 12px;
  }
  .contact__icons svg {
    width: 15px;
    height: 15px;
  }
  .slider__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 100%;
    max-width: 350px;
  }
  .slider__container {
    justify-content: center;
  }
  .product-item__images {
    flex: 1;
    margin-left: 50px;
  }
  .product-item__images__main {
    width: 150px;
  }
  .product-item__images__examples img {
    width: 40px;
  }
  .product-info__title {
    font-size: 15px;
  }

  .product__item__description li {
    margin-top: 20px;
  }
  .product-info {
    padding: 40px 5px;
    padding-top: 100px;
  }
  .btn {
    font-size: 10px;
  }
  .product-info__price {
    font-size: 15px;
  }
  .product-info label {
    font-size: 15px;
  }
  .product-info__cart__icon {
    width: 15px;
    left: 2px;
  }
  .product__item__description {
    font-size: 14px;
  }
  .about__container {
    padding: 0 50px;
  }
  .product-item__images__examples {
    flex-direction: row;
    width: 100%;

    max-width: 150px;

    width: 100%;
  }
  .product-item__images__examples img {
    margin-left: 10px;
  }
  .product-info {
    flex: 2;
  }
  .product__main__img__evaluations {
    margin-top: 50px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .mob__acc__main__title {
    width: 100%;
    max-width: 300px;
    font-size: 25px;
  }
  .opener__second {
    background-position: -400px center;
  }
  .product-item__images__examples img {
    width: 40px;
  }
  .about__info__img {
    max-width: 250px;
  }
  .about__info__text {
    max-width: 250px;
  }
  .about__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .product__section__title {
    font-size: 23px;
  }
  .mob__acc__main__title {
    font-size: 20px;
  }
  .view__more__btn__text {
    font-size: 10px;
  }
  .view__more__btn--arrow {
    height: 15px;
  }
  .copyright {
    margin: 0;
  }
  .mobile_show_social img {
    margin: 0;
  }
  .operner__title__underlay h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .opener__title__underlay h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .product-info__cart__icon {
    width: 10px;
  }
  .about__container {
    padding: 0 10px;
  }
  .product-item__images__main {
    width: 100px;
    max-height: 300px;
  }
  .product-item__description img {
    width: 20px;
  }
  .product-item__images__examples img {
    width: 30px;
  }
  .product__item__description li {
    margin-top: 5px;
    font-size: 13px;
  }
}
