@media only screen and (max-width: 920px) {
  .nav {
    display: none;
  }
  .header__hamburger--show {
    display: inline-block;
  }
  .mobile__menu--show {
    display: inline-block;
  }
  .opener__title {
    font-size: 35px;
  }
  .product {
    flex-basis: 45%;
  }
}

@media only screen and (max-width: 769px) {
  .mobile__menu {
    font-size: 13px;
  }
  .mobile__menu__logo {
    width: 60px;
    position: absolute;
  }
  .mobile__nav__icon {
    width: 20px;
    height: 20px;
  }

  .mobile__nav__search img {
    position: absolute;
    width: 15px;
    right: 10px;
    top: 13px;
  }
  .opener__title {
    font-size: 25px;
  }
  .product {
    flex-basis: 80%;
  }
}
@media only screen and (max-width: 565px) {
  .opener__title {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .header__container {
    padding: 10px 50px;
  }
  .product__section {
    padding: 100px 50px;
  }
  .product {
    flex-basis: 100%;
  }
}
